.App {
  text-align: center;
}

body {
  background: #181f38;
  font-family: 'Poppins', monospace;
  color: white;
  font-size: .7em;
  font-weight: 200;
  letter-spacing: 1px;
}

html {
  padding: 20px;
  font-weight: 300;
}
